<!DOCTYPE html>
<html lang="en">
  <head>
%#meta#%
    <title>Dashboard - N!</title>
%#css#%
    <link rel="stylesheet" href="/css/index_loggedin.css">
  </head>
  <body>
%#navbar#%
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div id="alert-feed">
        </div>
      </div>
    </div>
%#footer#%
    <div id="refresh" class="hidden"><a href="/logout">Please login again!</a></div>
%#js#%
    <script>
    // Websocket
    var ws;
    var loc = "ws://localhost:8081";
    function reload(){
      document.location.reload(true);
    }
    function start(loc) {
      ws = new WebSocket(loc);
      ws.onopen = function(e){
        console.log("Websocket open");
        send("authenticate", {username: "%username%"});
      }
      ws.onmessage = function(e){
        var data = JSON.parse(e.data);
        console.log(data);
        if (data.type == "alert") {
          if (alert.type != "none") {
            alert(data.alert);
          }
        } else if (data.type == "refresh") {
          if (data.refresh) {
            $("#refresh").removeClass("hidden");
            $.get("/logout", function(res){});
          } else {
            $("#refresh").addClass("hidden");
          }
        } else if (data.type == "error") {
          alert({type:"danger", msg:data.msg, id:Math.random()*10+1});
        }
      }
      ws.onerror = function(e){
        alert({type:"warning", msg:"Connection Error: WebSocket encountered an error! <br>"+e});
      }
      ws.onclose = function(e){
        alert({type:"warning", msg:"Lost connection to server. Reconnecting..."});
        setTimeout(function(){
          start(loc);
        },6600);
      }
    }
    start(loc);
    function send(type, msg) {
      ws.send(JSON.stringify({type: type, msg: msg}));
    }
    function alert(alert) {
      var icon = "";
      if (alert.id == undefined || alert.id == null) alert.id = Math.floor(Math.random()*1000+1);
      switch (alert.type) {
        case "success": icon = '<span class="glyphicon glyphicon-ok-sign"></span> '; break;
        case "info":    icon = '<span class="glyphicon glyphicon-info-sign"></span> '; break;
        case "warning": icon = '<span class="glyphicon glyphicon-exclamation-sign"></span> '; break;
        case "danger":  icon = '<span class="glyphicon glyphicon-minus-sign"></span> '; break;
        default:        icon = '<span class="glyphicon glyphicon-question-sign"></span> '; break;
      }
      $("#alert-feed").append('<div id="alert-'+alert.id+'" class="alert alert-dismissible alert-'+alert.type+'"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+icon+alert.msg+'</div>');
      $("#alert-"+alert.id).hide();
      $("#alert-"+alert.id).fadeIn(1000, function(){
        setTimeout(function(){
          $("#alert-"+alert.id).fadeOut(2000, function(){
            $(this).remove();
          });
        }, 5000);
      });
    }
    </script>
  </body>
</html>
