<!DOCTYPE html>
<html lang="en">
  <head>
%#meta#%
    <title>N! - The simple notifications system</title>
%#css#%
    <link rel="stylesheet" href="/css/index_notloggedin.css">
  </head>
  <body>
%#navbar#%
    <div class="container">
      <div class="alert alert-danger alert-dismissible hidden" id="login-error"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><span class="glyphicon glyphicon-minus-sign"></span> Login Failed: Incorrect username or password!</div>
      <div class="row">
        <div class="jumbotron">
          <div class="col-md-8 col-md-offset-2">
            <h1>N!</h1>
            <h2>Notifications made simple</h2>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
%#footer#%
%#js#%
    </script>
  </body>
</html>
