<html>
  <head>
    <title>N! - Dashboard</title>
    <script src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/index_loggedin.css">
    <link rel="stylesheet" href="/static/css/global.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">N!</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><button type="button" onclick="send('debug_alert', 'info');">Debug</button></li>
            <li><button type="button" onclick="send('debug_alert', 'danger');">Debug</button></li>
            <li><button type="button" onclick="send('debug_alert', 'success');">Debug</button></li>
            <li><button type="button" onclick="send('debug_alert', 'warning');">Debug</button></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/apidocs">API Documentation</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged in as %username%<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/profile" class="text-center">Profile <span class="glyphicon glyphicon-user"></span></a></li>
                <li class="divider"></li>
                <li><a href="/logout" class="text-center">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div id="alert-feed">
        </div>
      </div>
    </div>
    <div id="refresh" class="hidden"><a href="/logout">Please login again!</a></div>
    <script>
    // Websocket
    var ws;
    var loc = "ws://localhost:8081";
    var username = "%username%";
    function reload(){
      document.location.reload(true);
    }
    function start(loc) {
      ws = new WebSocket(loc);
      ws.onopen = function(e){
        send("authenticate", {username: username, key: document.cookie.replace(/(?:(?:^|.*;\s*)wskey\s*\=\s*([^;]*).*$)|^.*$/, "$1")});
      }
      ws.onmessage = function(e){
        var data = JSON.parse(e.data);
        console.log(data);
        if (data.type == "alert") {
          if (alert.type != "none") {
            alert(data.alert);
          }
        } else if (data.type == "refresh") {
          if (data.refresh) {
            $("#refresh").removeClass("hidden");
            $.get("/logout", function(res){});
          } else {
            $("#refresh").addClass("hidden");
          }
        } else if (data.type == "error") {
          alert({type:"danger", msg:data.msg, id:Math.random()*10+1});
        }
      }
      ws.onerror = function(e){
        alert({type:"warning", msg:"Connection Error: WebSocket encountered an error!"});
      }
      ws.onclose = function(e){
        alert({type:"warning", msg:"Lost connection to server. Reconnecting..."});
        setTimeout(function(){
          start(loc);
        },6600);
      }
    }
    start(loc);
    function send(type, msg) {
      /*var wskey = document.cookie.replace(/(?:(?:^|.*;\s*)wskey\s*\=\s*([^;]*).*$)|^.*$/, "$1");
      document.cookie = "wskey="+wskey+"; max-age=1200; expires="+new Date(new Date().getFullYear(), new Date().getMonth(), new Date().getDate(), new Date().getHours(), new Date().getMinutes()+20, new Date().getSeconds(), new Date().getMilliseconds()).toUTCString();*/
      ws.send(JSON.stringify({type: type, msg: msg}));
    }
    function alert(alert) {
      //console.log(alert);
      var icon = "";
      if (alert.id == undefined || alert.id == null) alert.id = Math.floor(Math.random()*1000+1);
      switch (alert.type) {
        case "success": icon = '<span class="glyphicon glyphicon-ok-sign"></span> '; break;
        case "info":    icon = '<span class="glyphicon glyphicon-info-sign"></span> '; break;
        case "warning": icon = '<span class="glyphicon glyphicon-exclamation-sign"></span> '; break;
        case "danger":  icon = '<span class="glyphicon glyphicon-minus-sign"></span> '; break;
        default:        icon = '<span class="glyphicon glyphicon-question-sign"></span> '; break;
      }
      $("#alert-feed").append('<div id="alert-'+alert.id+'" class="alert alert-dismissible alert-'+alert.type+'"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+icon+alert.msg+'</div>');
      $("#alert-"+alert.id).hide();
      $("#alert-"+alert.id).fadeIn(1000, function(){
        setTimeout(function(){
          $("#alert-"+alert.id).fadeOut(2000, function(){
            $(this).remove();
          });
        }, 5000);
      });
    }
    </script>
  </body>
</html>
